<div class="spinner-wrapper" *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>
<div class="user-list-container">
    <h1>Users list</h1>
    <mat-form-field>
        <input matInput placeholder="Search" [(ngModel)]="searchTerm" (input)="applyFilter(searchTerm)">
    </mat-form-field>
    <button mat-icon-button (click)="loadUsers()" [disabled]="loading">
        <mat-icon>refresh</mat-icon>
    </button>
    <div class="table-container mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" [trackBy]="trackByFn">
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <!-- Phone Column -->
            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef> Phone </th>
                <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="navigateToUserDetails(row.id)"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[3, 5]" showFirstLastButtons aria-label="Select page of users">
        </mat-paginator>
    </div>
</div>